
html,body, #root {
  height:100%;
  margin:0px;
}

.wrapper-stack {
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  height:100%;
}
.wrapper-cols {
  flex:1;
  display:flex;
}
.top-section {
  min-width:100%;
  max-height:100px;
}
.center-column {
  flex:1;
  display:flex;
  background:blue;
}

.left-column {
  min-width:200px;
  background:red;
}
.right-column {
  background:yellow;
  min-width:15px;
}
